/*author: Lisa Miesenböck, 1910456020
 *Homework 6 / Part 2
 *created: 01.06.2020
 *description: this css, styles the index.html
 *reference to index.html, objectES6.js and paint.js
 */
body {
	font-family: Arial, sans-serif;
	font-size: 11px;
}
#paintArea {
	width: 800px;
	height: 500px;
	border: 1px solid #cdcdcd;
	background: #efefef;
}

.form {
	margin-top: 20px;
}

label {
	width: 100px;
	float: left;
}
.clear {
	clear: both;
}
input {
	border: 1px solid #cdcdcd;
}

.input {
	margin-bottom: 5px;
}

.highlight{
	border: #b6af33 10px solid;
}

.hide{
	background: transparent;
}