.hide {
    display: block;
    position: absolute;
    top: 0;
    left: -1000em;
    height: 0;
    width: 0;
    overflow: hidden;
}

.navbar-brand >img{
    max-height: 80px;
}

header{
    padding: 30px 0 30px;
}

section{
    padding: 50px 0px 50px 0px;
}

.php-functionality{
    max-width: 65%;
}
#php-outline{
    float: left;
    max-width: 100px;
    padding: 10px;
}

#lerdorf{
    max-width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#submit{
    cursor: pointer;
}

.form-check{
    padding-top: 10px;
    padding-bottom: 10px;
}

h1,h2{
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;

}
h1{
    font-size: 2.5rem;
    text-align: center;
}
h2{
    font-size: 2rem;
}

h3{
    font-weight: bold;
    font-size: 1rem;
}

.head{
    font-weight: bold;
    vertical-align: bottom;
}

.lead{
    text-align: center;
}